body{
    margin: 0;
    padding: 0;
    background: #34252F;
}

header h1{
    margin: 0;
}
.tree-of-life{
    height: 4vw;
    vertical-align: sub;
    padding-left: 2vw;
    position: relative; top:-0.3vw;
}
.header{
    margin: 0;
    padding: 0; 
    font-family: "Arial Black", "Gill Sans", sans-serif;
    font-size: 4vw;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-variant: small-caps;
    background: #519872;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3); 
}

nav{
    background: #519872;
    height: 5%;
}

nav ul{
    margin: 0;
    padding: 1% 0 1%;
}
nav li{
    font-size: 1.2rem;
    width: 5em;
    line-height: 1.5em;
    display: inline-block;
    margin: 0 1.5% 1.5%;
    background-color: #3B5249;
    padding: 0 1.5%;
}

nav a{
    text-decoration: none;
    color: #FFFFFF;
    display: block;
}

nav li:hover{
    background-color: #A4B494;
}

.home-intro{
    background: #519872;
    padding: 0 1.5%;
}

.contact-section{
    margin: 1em ;
    padding: 0.25em;
    background: #519872;
    width: 50%;
}

.contact-table{
    width: 100%;
}

.tableL{
    width: 50%;
    text-align: right;
}

.tableR{
    width: 50%;
    text-align: left;
}

.tableB{
    width: 100%;
    text-align: center;
    margin: 1em 0;
}

.tableB button{
    text-decoration: none;
    color: #FFFFFF;
    background-color: #34252F;
    font-size: 1.2rem;
}

.tableB button:hover{
    background-color: #A4B494;
}

.article{
    height: 11em;
    background-color: #519872;
    margin: 1em;
    padding: 0.5em;

}

.character {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "description image";
}
  
.description {
    justify-self: start;
    align-self: center;
    grid-area: description;
}

.description ul{
    display: inline-block;
    font-size: large;
}
  
.image {
    justify-self: start;
    align-self: center;
    grid-area: image;
    width: 50%;
}

.image img{
    max-height: 10em;
    object-fit: contain;
}